<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
  </head>
  <body>
    {{> header}}
    
    <p>
      <!--{{welcomeMessage}}-->
      {{screamIt welcomeMessage}}<!--Here 'screamIt' is name of the registerHelper function in server.js and 'welcomeMessage' is an argument passed to registerHelper function with name 'screamIt'.
      We can give another argument by giving space between two arguments if the arrow function in registerHelper function with name 'screamIt' has it.-->
    </p>
    
    {{> footer}}
  </body>
</html>